$dark-blue: #10101d;
$border-blue: #286690;
$blue: #42a9ed;
$light-blue: #3e9cdc;
$white-color: #ffffff;
$grey-color: #6f6d7b;
$grey-text: #bbbbbb;
$light-gray: #c4c4c4;
$dark-pink: #272733;

$max-tablet-width: 1599px;
$max-mobile-width: 780px;
